html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

img {
  height: 100%;
}

/* header styles */

header.website-head {
  display: flex;
  height: 3rem;
  position: sticky;
  z-index: 100;
  top: 0;
  border-bottom: 0.0625rem solid #e2e2e2;
  padding: 0.3rem 0.9rem;
  background: white;
}

nav.top {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

header.website-head > *:not(.logo-wrapper) {
  position: absolute;
}

.big {
  display: none;
}

header.website-head > nav.top > *,
button {
  cursor: pointer;
}

.nav-image-wrapper {
  height: 70%;
  padding: 0.25rem 0.3rem;
}

.logo-wrapper {
  padding: 0.16rem 0;
  height: 100%;
  margin: auto;
  text-align: center;
}

.top-wrapper {
  height: 100%;
}

nav.top > div:first-child {
  left: 1rem;
}

header.website-head > .left-nav-wrapper {
  right: 1rem;
  top: 0.3rem;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

header.website-head a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

header.website-head a:hover {
  text-decoration: underline;
}

header.website-head > .left-nav-wrapper > button,
.comment-button {
  background-color: rgb(86, 123, 149);
  border: 0.065rem solid rgb(86, 123, 149);
  font-size: 0.8125rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
}

header.website-head > .left-nav-wrapper > button.account {
  background: white;
  border: none;
  color: black;
}

/* body styles */

main {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-style: italic;
  font-size: 1.9rem;
  font-weight: 700;
}

.header-wrapper {
  max-width: 600px;
  margin: 1.25rem;
}

.social-wrapper {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding: 1.25rem 0;
  border-top: 0.0625rem solid #e2e2e2;
}

.social-wrapper *:not(.end) {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-wrapper .big {
  display: none;
}

.social-wrapper > .end {
  font-size: 1.5rem;
  font-weight: 100;
}

figure {
  margin: 0;
}

figure.intro-img {
  width: 100vw;
}

figure.intro-img > img {
  width: 100%;
}

figure.intro-img > figcaption {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #666;
}

figure.intro-img > figcaption > p {
  margin: 0.625rem 0 0 0;
  display: inline;
  font-weight: 500;
}

figure.intro-img > figcaption > i {
  color: #888;
  font-size: 0.875rem;
}

.center-wrap {
  max-width: 600px;
}

.ad {
  height: 250px;
  background: #f7f7f7;
  color: #ccc;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 1.75rem 0;
}

.content > .author-section {
  margin: 1.75rem auto;
}

.author-section * {
  margin: 0;
  font-style: normal;
}

.author-info {
  display: flex;
}
.author-info * {
  font-size: 1rem;
  font-weight: 800;
}

.author-info h2 {
  text-decoration: underline 0.0625rem #ccc;
  text-underline-offset: 1px;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.author-info h2:hover {
  text-decoration: none;
}

.author-section time {
  font-size: 0.9rem;
  color: #333;
}

.center-wrap * {
  font-size: 1.125rem;
}

.center-wrap,
.inflation-wrapper {
  padding: 0 1rem;
  line-height: 1.56rem;
}

.center-wrap.override {
  padding: 0;
}

.inflation-wrapper {
  margin: 3rem auto;
  max-width: 945px;
}

.center-wrap strong {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.35rem;
  margin-bottom: 0;
  font-weight: 800;
}

.inflation-wrapper > header > p {
  margin: 0.25rem 0;
  font-size: 0.875rem;
  color: #665;
}

.figure-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10.625rem);
  justify-content: center;
  gap: 10px;
  padding-bottom: 2rem;
}

.figure-wrapper figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.figure-wrapper figure p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.1rem;
}

.figure-wrapper figure img {
  width: 100%;
  height: 10.625rem;
  object-fit: contain;
}

.lower-author-info {
  display: flex;
  margin: 1rem 0;
}

.lower-author-info * {
  margin: 0;
  font-style: normal;
  font-size: 0.9rem;
}

.lower-author-info > span {
  position: relative;
}

.lower-author-info > span::before {
  content: "";
  width: 3.75rem;
  display: inline-block;
  height: 1px;
  background: black;
  position: absolute;
  bottom: 2.5rem;
}

.center-wrap a {
  color: #326891;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.center-wrap a:hover {
  text-decoration: none;
}

.center-wrap.override {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.iframe-figure > figcaption {
  padding-left: 1rem;
  font-size: 0.9375rem;
  color: #665;

  line-height: 1rem;
  margin: 0.5rem 0;
}

.iframe-figure > figcaption > i,
.bottom-of-article * {
  font-size: 0.75rem;
  color: #888;
  font-style: normal;
}

.content-wrap.photo {
  padding-bottom: 0;
}

.content-wrap.photo > img {
  width: 100%;
}

.center-wrap.bottom-of-article > p > a {
  color: rgb(102, 102, 102);
}

.center-wrap.bottom-of-article > * {
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

.comment-wrapper {
  margin: 1rem 0;
}

.comment-wrapper > .comment-button {
  font-size: 0.95rem;
  font-weight: 600;
  width: 100%;
  color: white;
  background: rgb(86, 123, 149);
  text-transform: uppercase;
  transition: 0.5s;
  padding: 0.75rem 1rem;
}
.comment-wrapper > .comment-button:hover {
  background: rgb(50, 104, 145);
}

nav.bottom {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(226, 226, 226);
  border-bottom: 2px solid rgb(226, 226, 226);
  padding: 0.25rem 0;
}

nav.bottom div:first-child {
  padding: 0.5rem;
  height: 2.9375rem;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.bottom div:first-child * {
  color: #326891;
  font-size: 0.75rem;
  text-decoration: none;
}

nav.bottom > * {
  margin: 0 1rem;
  border-top: rgb(226, 226, 226) solid 1px;
  text-align: left;
  padding: 1rem;
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 0.85rem;
  font-weight: 800;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

footer {
  max-width: 1050px;
  padding: 1rem;
}

footer > div:first-child {
  margin-bottom: 1rem;
}

footer * {
  color: #665;
  font-size: 0.75rem;
  text-decoration: none;
  line-height: 1.25rem;
  text-align: center;
}

.link-wrap * {
  margin: 0 0.35rem;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  /* header styles */

  .header-wrapper {
    max-width: 600px;
    margin: auto;
    margin-bottom: 0;
  }

  .center-wrap,
  inflation-wrapper {
    margin: 0 auto;
  }

  .social-wrapper .big {
    display: flex;
  }

  h1 {
    font-size: 2.5rem;
  }

  .center-wrap *:not(.no-grow *) {
    font-size: 1.25rem;
  }

  .center-wrap.override {
    padding: 0 1rem;
  }

  .iframe-figure > figcaption {
    padding-left: 0;
  }

  .comment-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.bottom-section {
  max-width: 1050px;
  margin: 1.5rem 1rem;
}

.suggestion-section {
  width: 100%;
  margin: 1.5rem 0;
  border-top: black solid 2px;
  padding: 1rem 0;
}

.suggestion-section > h4 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
}

.suggested-wrapper {
  display: flex;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 226);
  padding: 1rem;
}

.suggested-wrapper span {
  font-size: 0.6875rem;
}

.suggested-wrapper h5 {
  font-size: 1rem;
}

.suggested-wrapper p {
  font-size: 0.9375rem;
}

.suggested-wrapper * {
  margin: 0;
}

.img-wrapper {
  flex: 0 0 82px;
  height: 82px;
  margin-right: 1rem;
}

.img-wrapper img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.text-wrapper * {
  line-height: 1rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-wrapper.more {
  justify-content: center;
  gap: 0.25rem;
}

.text-wrapper.more > time {
  font-size: 0.75rem;
  color: #665;
}

.suggested-grid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 1025px) {
  .bottom-section {
    margin: auto;
  }

  footer {
    margin: auto;
  }

  .figure-wrapper {
    grid-template-columns: repeat(auto-fit, 13rem);
  }

  .figure-wrapper figure img {
    height: 13rem;
  }

  .figure-wrapper figure p {
    font-size: 0.85rem;
  }

  /* header styles */

  header.website-head {
    height: 2.625rem;
  }
  .big {
    display: block;
  }
  .small {
    display: none;
  }

  figure.intro-img {
    width: 945px;
    margin: auto;
  }

  figure.intro-img > figcaption {
    margin-left: 0;
    max-width: 720px;
    padding: 0.5rem 0;
  }

  .center-wrap *:not(.no-grow *) {
    font-size: 1.4rem;
  }

  .center-wrap strong {
    font-size: 1.5rem;
  }

  .inflation-wrapper {
    padding: 0;
  }
}
