html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  height: 100%;
}

/* header styles */

header {
  display: flex;
  height: 3rem;
  position: sticky;
  top: 0;
  border-bottom: 0.0625rem solid #e2e2e2;
  padding: 0.3rem 0.9rem;
  background: white;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

header > *:not(.logo-wrapper) {
  position: absolute;
}

.big {
  display: none;
}

header > nav > *,
button {
  cursor: pointer;
}

.nav-image-wrapper {
  height: 70%;
  padding: 0.25rem 0.3rem;
}

.logo-wrapper {
  padding: 0.16rem 0;
  height: 100%;
  margin: auto;
  text-align: center;
}

.top-wrapper {
  height: 100%;
}

nav > div:first-child {
  left: 1rem;
}

header > .left-nav-wrapper {
  right: 1rem;
  top: 0.3rem;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

header a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

header a:hover {
  text-decoration: underline;
}

header > .left-nav-wrapper > button {
  background-color: rgb(86, 123, 149);
  border: 0.065rem solid rgb(86, 123, 149);
  font-size: 0.8125rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
}

header > .left-nav-wrapper > button.account {
  background: white;
  border: none;
  color: black;
}

/* body styles */

main {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-style: italic;
  font-size: 1.9rem;
  font-weight: 700;
}

.header-wrapper {
  max-width: 600px;
  margin: 1.25rem;
}

.social-wrapper {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding: 1.25rem 0;
  border-top: 0.0625rem solid #e2e2e2;
}

.social-wrapper *:not(.end) {
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-wrapper .big {
  display: none;
}

.social-wrapper > .end {
  font-size: 1.5rem;
  font-weight: 100;
}

figure.intro-img {
  margin: 0;
  width: 100vw;
}

figure.intro-img > img {
  width: 100%;
}

figure.intro-img > figcaption {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #666;
}

figure.intro-img > figcaption > p {
  margin: 0.625rem 0 0 0;
  display: inline;
  font-weight: 500;
}

figure.intro-img > figcaption > i {
  color: #888;
  font-size: 0.875rem;
}

.center-wrap {
  max-width: 600px;
}

.ad {
  height: 250px;
  background: #f7f7f7;
  color: #ccc;
  text-transform: uppercase;
  padding: 1rem;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  margin: 1.75rem 0;
}

.content > .author-section {
  margin: 1.75rem auto;
}

address * {
}

.author-section * {
  margin: 0;
  font-style: normal;
}

.author-info {
  display: flex;
}
.author-info * {
  font-size: 1rem;
  font-weight: 800;
}

.author-info h2 {
  text-decoration: underline 0.0625rem #ccc;
  text-underline-offset: 1px;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.author-info h2:hover {
  text-decoration: none;
}

.author-section time {
  font-size: 0.9rem;
  color: #333;
}

.center-wrap p {
  font-size: 1.125rem;
}

.center-wrap,
.inflation-wrapper {
  padding: 0 1rem;
  line-height: 1.56rem;
}

.inflation-wrapper {
  margin: auto;
  max-width: 945px;
}

.center-wrap strong {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.35rem;
  margin-bottom: 0;
}

.inflation-wrapper > p {
  margin: 0.25rem 0;
  font-size: 0.875rem;
  color: #665;
}

.figure-wrapper {
  border: red solid 2px;
}

.figure-wrapper figure {
  width: 173px;
}

@media screen and (min-width: 600px) {
  /* header styles */

  .header-wrapper {
    max-width: 600px;
    margin: auto;
    margin-bottom: 0;
  }

  .center-wrap,
  inflation-wrapper {
    margin: 0 auto;
  }

  .social-wrapper .big {
    display: flex;
  }

  h1 {
    font-size: 2.5rem;
  }

  .center-wrap p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1025px) {
  /* header styles */

  header {
    height: 2.625rem;
  }
  .big {
    display: block;
  }
  .small {
    display: none;
  }

  figure.intro-img {
    width: 945px;
    margin: auto;
  }

  figure.intro-img > figcaption {
    margin-left: 0;
    max-width: 720px;
    padding: 0.5rem 0;
  }

  .center-wrap p {
    font-size: 1.4rem;
  }

  .center-wrap strong {
    font-size: 1.5rem;
  }

  .inflation-wrapper {
    padding: 0;
  }
}
