html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  height: 3rem;
  position: sticky;
  border-bottom: 0.0625rem solid #e2e2e2;
  padding: 0.3rem 0.9rem;
}

img {
  height: 100%;
}

header > *:not(.logo-wrapper) {
  position: absolute;
}

header > nav > *,
button {
  cursor: pointer;
}

.nav-image-wrapper {
  height: 70%;
  padding: 0.25rem 0.3rem;
}

.logo-wrapper {
  padding: 0.16rem 0;
  height: 100%;
  margin: auto;
  text-align: center;
}

.top-wrapper {
  height: 100%;
}

nav > div:first-child {
  left: 1rem;
}

header > .left-nav-wrapper {
  right: 1rem;
  top: 0.3rem;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

nav {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.33rem;
}

.big {
  display: none;
}

header a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

header a:hover {
  text-decoration: underline;
}

header > .left-nav-wrapper > button {
  background-color: rgb(86, 123, 149);
  border: 0.065rem solid rgb(86, 123, 149);
  font-size: 0.8125rem;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
}

header > .left-nav-wrapper > button.account {
  background: white;
  border: none;
  color: black;
}

@media screen and (min-width: 1025px) {
  header {
    height: 2.625rem;
  }
  .big {
    display: block;
  }
  .small {
    display: none;
  }
}
